header {
  width: 400px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hover1:hover {
  background-color: #008d44 !important;
}
.hover2:hover {
  background-color: #f7f7f7 !important;
}
.hover3:hover {
  background-color: #f7f7f7 !important;
}
.hover4:hover {
  background-color: #c82a35 !important;
}
.cv1 {
  background-image: url("../Mini-CRUD-opdracht/img/pizza.jpg");
  width: 100% !important;
  min-height: 1000px !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
#center_flex{
  display: flex;
  align-items: center;
}
#login form{
  display: flex;
  align-items: center;
}